.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Sidebar css */

.sideBar-main {
  background-color: rgb(65, 60, 59);
  color: white;
  padding-right: 10px;
}

.sideBar-link {
  padding: 10px;
  margin-top: 50px;
}

.container {
  height: 80vh !important;
}
.signup {
  position: relative;
  display: flex;
}
.signup-text {
  color: blue;
  text-transform: uppercase;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 34px;
}
.form-sign {
  margin-left: 15rem;
  margin-top: 8rem;
  width: 100%;

  font-weight: 500;
}
.sign-input {
  padding: 1.4rem;
  border-radius: 2rem;
}
.sign_button {
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 20px;
  margin-right: 2rem;
  font-weight: 500;
  margin-top: 10px;
  font-size: large;
}
.log_button {
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
  font-size: medium;
}

.carousel-img {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
